/**
 * Draw.css handles all of the styling for the Draw application
 */
 
 
.app-title
{
}

.content_text { color: #FFF; }

.action-toolbar 
{
	background-color: rgb(248, 248, 248); 
	background-image: -gtk-gradient(linear, 0 0.7, 0 1, from(rgb(248, 248, 248)), to(rgb(240, 240, 240)));
	
	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-GtkWidget-window-dragging: false;
}

.status-toolbar
{
	background-color: rgb(240, 240, 240);
	-GtkWidget-window-dragging: false;
}

/* ToDO: Convert to checkerboard background image */
.canvas
{
	background-color: white;
}

.canvas-frame
{
	border-width: 1px;
	border-color: #C6C6C6;
	border-style: solid;
	box-shadow: 0 0 5 0 #000;
}

.canvas-container 
{ 
	background-color: rgb(248, 248, 248); 
	background-image: -gtk-gradient(linear, 0 0.8, 0 1, from(rgb(248, 248, 248)), to(rgb(240, 240, 240)));
} 

.button-menu
{
	border-width: 1px;
	border-style: solid;
	border-color: #CECECE;
	border-radius: 3px;
}

.effects-menu .button:first-child, .adjustments-menu .button:first-child
{
	border-width: 0;
	border-style: none;
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	padding: 4px;
	
	-unico-inner-stroke-width: 0;
	-unico-inner-stroke-style: none;
	-unico-outer-stroke-width: 0;
	-unico-outer-stroke-style: none;
}

DrawDrawTools GtkButton
{
	padding: 0;
}

.drawtools GtkToolButton.tool-selected GtkImage
{
	padding: 0px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: #CCC;
	background-image: -gtk-gradient(linear, 0 0, 0 1, from(#EBEBEB), to(#DDD));
}
