/draw.css~
/src/AppWindow.vala~
/src/main.vala~
/Draw
/src/NDecoratedWindow.vala~
/granite-demo
/src/AppToolbar.vala~
/.gitignore~
/build/CMakeCache.txt
/build/CMakeFiles/CMakeCCompiler.cmake
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/CMakeCXXCompiler.cmake
/build/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/CMakeRuleHashes.txt
/build/CMakeFiles/CMakeSystem.cmake
/build/CMakeFiles/CompilerIdC/a.out
/build/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/CompilerIdCXX/a.out
/build/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/Makefile2
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/progress.marks
/build/CMakeFiles/TargetDirectories.txt
/build/cmake_install.cmake
/build/Makefile
/build/src/AppToolbar.c
/build/src/AppWindow.c
/build/src/CMakeFiles/CMakeDirectoryInformation.cmake
/build/src/CMakeFiles/Draw.dir/AppToolbar.c.o
/build/src/CMakeFiles/Draw.dir/AppWindow.c.o
/build/src/CMakeFiles/Draw.dir/build.make
/build/src/CMakeFiles/Draw.dir/C.includecache
/build/src/CMakeFiles/Draw.dir/cmake_clean.cmake
/build/src/CMakeFiles/Draw.dir/DependInfo.cmake
/build/src/CMakeFiles/Draw.dir/depend.internal
/build/src/CMakeFiles/Draw.dir/depend.make
/build/src/CMakeFiles/Draw.dir/flags.make
/build/src/CMakeFiles/Draw.dir/link.txt
/build/src/CMakeFiles/Draw.dir/main.c.o
/build/src/CMakeFiles/Draw.dir/progress.make
/build/src/CMakeFiles/progress.marks
/build/src/cmake_install.cmake
/build/src/Draw
/build/src/main.c
/build/src/Makefile
/build/src/CMakeFiles/Draw.dir/Views/ActionToolbar.c.o
/build/src/CMakeFiles/Draw.dir/Views/Canvas.c.o
/build/src/CMakeFiles/Draw.dir/Views/StatusToolbar.c.o
/build/src/CMakeFiles/Draw.dir/Views/Window.c.o
/build/src/CMakeFiles/Draw.dir/Views/WindowToolbar.c.o
/build/src/CMakeFiles/Draw.dir/Widgets/Toolbar.c.o
/build/src/Views/ActionToolbar.c
/build/src/Views/Canvas.c
/build/src/Views/StatusToolbar.c
/build/src/Views/Window.c
/build/src/Views/WindowToolbar.c
/build/src/Widgets/Toolbar.c
/src/CMakeLists.txt~
/src/Views/ActionToolbar.vala~
/src/Views/Canvas.vala~
/src/Views/StatusToolbar.vala~
/src/Views/WindowToolbar.vala~
/src/Views/Window.vala~
/src/Widgets/Toolbar.vala~
/build/src/CMakeFiles/Draw.dir/Views/ActionViews/DrawTools.c.o
/build/src/CMakeFiles/Draw.dir/Widgets/Tools.c.o
/build/src/Views/ActionViews/DrawTools.c
/build/src/Widgets/Tools.c
/CMakeLists.txt~
/bin/Draw
/src/Views/ActionViews/DrawTools.vala~
/src/Widgets/Tools.vala~
/bin/draw.css~
/build/src/CMakeFiles/Draw.dir/Core/Canvas.c.o
/build/src/CMakeFiles/Draw.dir/Views/CanvasContainer.c.o
/build/src/Core/Canvas.c
/build/src/Views/CanvasContainer.c
/src/Core/Canvas.vala~
/src/Views/CanvasContainer.vala~
/build/src/CMakeFiles/Draw.dir/Views/ActionViews/ColorTools.c.o
/build/src/CMakeFiles/Draw.dir/Widgets/ColorIcon.c.o
/build/src/Views/ActionViews/ColorTools.c
/build/src/Widgets/ColorIcon.c
/src/Views/ActionViews/ColorTools.vala~
/src/Widgets/ColorIcon.vala~
/build/src/CMakeFiles/Draw.dir/Core/Palette.c.o
/build/src/Core/Palette.c
/src/Core/Palette.vala~
/README.md~
/build/src/CMakeFiles/Draw.dir/Core/Image.c.o
/build/src/Core/Image.c
/src/Core/Image.vala~
/build/src/CMakeFiles/Draw.dir/Views/Welcome.c.o
/build/src/Views/Welcome.c
/src/Views/Welcome.vala~
/build/src/CMakeFiles/Draw.dir/Views/NewFile.c.o
/build/src/Views/NewFile.c
/src/Views/NewFile.vala~
/build/src/CMakeFiles/Draw.dir/Views/NewImage.c.o
/build/src/Views/NewImage.c
/build/CMakeFiles/Progress/17
/build/CMakeFiles/Progress/count.txt
/build/src/CMakeFiles/Draw.dir/Views/Workspace.c.o
/build/src/Views/Workspace.c
/src/Views/Workspace.vala~
/build/src/CMakeFiles/Draw.dir/Views/Tools/Brush.c.o
/build/src/CMakeFiles/Draw.dir/Views/Tools/Tool.c.o
/build/src/Views/Tools/Brush.c
/build/src/Views/Tools/Tool.c
/src/Views/Tools/Tool.vala~
/src/Views/Tools/Brush.vala~
/bin/images/effects.png~
/bin/draw.tar.gz
/build/src/CMakeFiles/Draw.dir/Views/ColorTools.c.o
/build/src/CMakeFiles/Draw.dir/Views/DrawTools.c.o
/build/src/CMakeFiles/Draw.dir/Views/ToolsPane.c.o
/build/src/Views/ColorTools.c
/build/src/Views/DrawTools.c
/build/src/Views/ToolsPane.c
/src/Views/ToolsPane.vala~
/src/Views/ColorTools.vala~
